.mainBox {
    width: 45%;
    height: 550px;
    border: 3px solid darkturquoise;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.numberBox {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 300px;
    border: 2px solid darkturquoise;
    border-radius: 30px;
}

.setBox {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 150px;
    border: 2px solid darkturquoise;
    border-radius: 30px;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: darkturquoise;
    text-align: center;
}

.buttonBlock {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonBlock button {
    width: 120px;
    height: 75px;
    background-color: darkturquoise;
    border: 1px solid #05989a;
    border-radius: 35px;
    font-size: 3.5rem;
    color: #262626;
    font-family: Chiller, sans-serif;
}

.buttonBlock button:active {
    width: 100px;
    height: 65px;
    background-color: #7fe8ea;
    border: 1px solid #05989a;
    border-radius: 30px;
    font-size: 2.5rem;
    color: indianred;
}

button:disabled {
    opacity: 0.1;
}

.error {
    font-size: 2.5rem;
    color: darkred;
    font-family: Courier, sans-serif;
    font-weight:500;
}