
.mainBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.mainBox input {
    background-color: #262626;
    display: flex;
    text-align: center;
    font-size: 1.8rem;
    color: darkturquoise;
    width: 45%;
    height: 45px;
    outline: none;
    border: 1px solid #282828;
    border-radius: 15px;
    caret-color: darkturquoise;
    transition: transform .5s;
}



input:hover {
    border: 1px solid darkturquoise;
    transform: scale(1.2);
    transition: 0.3s;
}

.inputOperationBlock {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.value {
    color: darkturquoise;
    font-size: 3em;
    font-family: Chiller, sans-serif;
}
